<!DOCTYPE html>
<html dir='ltr' lang='en'>

<head>
    <title>{{siteName}}</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, interactive-widget=resizes-visual' />
    <link rel='icon' href='icon-192.png' type='image/png' />
    <link rel='stylesheet' href='builder.css?{{v}}' />
    <script src='builder.js?{{v}}'></script>
</head>

<body>
    <div class="header" data-page="{{page}}">
        <h1 class="site-name">{{siteName}}</h1>
        <h2 class="page-name">{{pageName}}</h2>
    </div>
    <div class="nav">{{nav}}</div>
    <div class="content">
        {{content}}
        <div class="add-section button rounded">{{nextSection}}</div>
        <div class="add-page button rounded"></div>
    
    </div>
    <div class="footer">{{footer}}</div>
    <div class="overlay"></div>
    <div class="dialog"></div>
</body>

</html>