:root {
    --font-color: rgba(255, 255, 255, 0.75);
    --background-color: #13423a;
    --max-width: 800px;
}

html,
body {
    color: var(--font-color);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.site-name {
    position: relative;
    padding-bottom: 1rem;
    font-style: italic;
    white-space: nowrap;
}

.tagline {
    font-weight: bold;
    font-size: 110%;
    font-style: italic;
    color: white;
}

.title {
    position: relative;
    font-size: 130%;
    font-weight: bold;
    padding: 1rem 0;
}

.editable:hover .editButton {
    background-color: rgb(119, 142, 189);
}

.section {
    position: relative;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.section-nb {
    position: relative;
    padding: 0 1rem;
    margin: 0;
}

.section-nb-wrap {
    position: relative;
    margin: 0;
}

.section_nb_wrap::after {
    content: "";
    display: table;
    clear: both;
}

.section-yt {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.section-background {
    background-color: rgba(0, 0, 0, 0.25);
}

.image_ {
    width: 100%;
    height: 10rem;
    border-radius: .5rem;
    object-fit: cover;
    object-position: center;
}

.image_section_nb {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.image_section_nb_wrap {
    width:10rem;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;    
    float: left; 
    margin-right: 1rem;
    margin-top: 1rem;
}

.image-thumbnail {
    width: 10rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    
}

.section-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer {
    width: 100%;
    background-color: rgb(13, 11, 17);
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;
}

.section-date {
    padding-top: 1rem;
}

.editButton {
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  z-index: 1;
  padding: 0.3rem !important;
}

.header .editButton {
    top: 0rem;
    left: 0rem;

}

.dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: rgb(53 51 64);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem;
    z-index: 3;
    max-width: 500px;
}

.dialog.visible {
    display: block;
}

.dialog-close {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 120%;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.overlay.visible { display: block; }

.dialogbuttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.button {
    background-color: rgb(54, 64, 85);
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border-top: 3px solid rgb(255, 255, 255, .25);
    border-right: 3px solid rgb(0, 0, 0, .45);
    border-bottom: 3px solid rgb(0, 0, 0, .45);
    border-left: 3px solid rgb(255, 255, 255, .25);
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(119, 142, 189);
}

.form {
    display:flex;
    flex-direction: column;
    gap: .5rem;
}

.form textarea {
    height: 10rem;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.nav-button {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
    font-size: 150%;
}
.nav-button:hover {
    color: white;
}


.nav-item {
    padding: 0.5rem;
    background-color: #0a2420;
    width: 10rem;
    font-size: 85%;
}

.nav-item:first-child {
     width: 1.1rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
}
.nav-item a:hover {
    opacity: 0.5;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}


.card {
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    padding: 1rem;
}

.card-title {
    font-weight: bold;
    font-size: 130%;
}

.add-page {
    display: none;
}

.add-section {
    display: none;
}

input, select, textarea{
    background-color: rgb(251, 245, 161);
    color: rgb(0, 0, 0, .85);
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 95%;
    font-size: 110%;
}
select{
     width: 99%;
}

textarea {
    height: 5rem;
    resize: vertical;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}
a:hover {
    color: white;
}

.rounded {
    border-radius: 1rem;
}

.logo {
    height: 8rem;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    height: 8rem;
}


/* Tablet and up */
@media (min-width: 725px) {

    .header {
        flex-direction: row;
    }

    .header-right {
        position: relative;
        top: -1rem;
        height: 7rem;
        width: 100%;
        background-image: url('image/_brand_spiral_001.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }

    .logo {
        height: 6rem;
    }

    .home-logo {
        height: 15rem;
    }

    .nav {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        position: relative;
        padding: 0;
    }

    .nav-button {
        display: none;
    }

    .nav-item {
        padding: 0.5rem;
        background-color: rgb(0, 0, 0, .45);
        border-radius: .5rem;
        width: 5.5rem;
        font-size: 85%;
    }

    .tagline {
      text-shadow: 0 0 .25rem black;
    }

    .image_section_nb_wrap {
        width:13rem;
        height: 13rem;
    }

}



