:root {
    --font-color: rgba(200, 192, 229, 0.5);
    --font-color-bold: rgba(200, 192, 229, 1);
    --background-color: #1a1621;
}

html,
body {
    background-color:  var(--background-color);
    color: var(--font-color);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    padding: 0;
}

.standard {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem 0.2rem;
    border-radius: 1rem;
    margin: 1rem 0;
}
.footer {
    background-color: rgb(13, 11, 17);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}